@import "reset";

div[class^='slide-wrap'] {
  position: relative;
  overflow: hidden;
  margin: auto 0;

  .slide {
    white-space: nowrap;
    font-size: 0;
    transition: all .3s ease-out;

  }

  .slide-item {
    display: inline-block;

    img {
      margin: auto
    }

  }

  .slide-navigator {
    position: absolute;
    display: inline-block;
    margin: 20px;
    width: 30px;
    height: 30px;
    border: solid white;
    text-indent: -999px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &.disabled {
      border-color: darkgray;
      pointer-events: none;
      cursor: default;
    }
  }

  .navigator-left {
    border-width: 5px 0 0 5px;
    transform: rotate(-45deg);
    left: 0.5em;

  }

  .navigator-right {
    border-width: 5px 5px 0 0;
    transform: rotate(45deg);
    right: 0.5em;
  }


  $button-dimension: 20px;

  .slide-indicator {
    width: 400px;
    margin: 50px auto 0;
    text-align: center;
    font-size: 0;
  }

  .slide-indicator-item {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 5px;
    }
  }

  .slide-indicator-button {
    display: inline-block;
    overflow: hidden;
    padding: 0;
    text-indent: -999px;
    border: 0;
    border-radius: 0;
    background: #444;
    outline: 0;
    cursor: pointer;

    &.active, &:hover {
      background-color: skyblue;
    }
  }

  .indicator-circle {
    .slide-indicator-button {
      width: $button-dimension;
      height: $button-dimension;
      border-radius: $button-dimension;
    }
  }

  .indicator-line {
    .slide-indicator-button {
      width: $button-dimension;
      height: 4px;
    }
  }

  .indicator-line-padding {
    .slide-indicator-button {
      background: none;
      padding: 10px 0;

      &:before {
        content: '';
        display: block;
        width: $button-dimension;
        height: 4px;
        background: #444;
      }

      &:hover {
        &:before {
          background: skyblue;
        }
      }
    }
  }
  .blind {
    position: absolute;
    top: 0;
    left: 0;
  }
}
