* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.sp__container {
    position: relative;

    > ul > li {
        // display: inline-block;
        // width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        > img {
            // width: 100%;
            width: 300px;
        }
    }
}