@import "reset";
$default-color: rgb(223,229,229);
$first-color: rgb(122,201,188);
$second-color: rgb(236,220,191);
$third-color: rgb(245,118,86);
$fourth-color: rgb(241,175,16);
$fifth-color: rgb(123,168,83);

.__sp__projector__container {
  position: relative;
  overflow: hidden;

  .__sp__slider__container {
    .__sp__slider__slide {
      float: left;
    }
  }
  .__sp__navigator {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid #eee;
    text-indent: -999px;
    position: absolute;

    &.__sp__navigator__prev {
      border-width: 5px 0 0 5px;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
      left: 20px;
    }
    &.__sp__navigator__next {
      border-width: 5px 5px 0 0;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      right: 20px;
    }
  }
}

.sp {
  width: 400px;
  height: 300px;
  margin: 5px;

  div {
    background-color: $default-color;
  }
  .item {
    &:nth-child(1) {
      background-color: $first-color;
    }
    &:nth-child(2) {
      background-color: $second-color;
    }
    &:nth-child(3) {
      background-color: $third-color;
    }
    &:nth-child(4) {
      background-color: $fourth-color;
    }
    &:nth-child(5) {
      background-color: $fifth-color;
    }
  }
}